<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="x.superman.mapper.TbkCommoditySettleMapper" >
  <resultMap id="BaseResultMap" type="x.superman.pojo.generator.TbkCommoditySettle" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="mc" property="mc" jdbcType="VARCHAR" />
    <result column="lm" property="lm" jdbcType="VARCHAR" />
    <result column="zt" property="zt" jdbcType="VARCHAR" />
    <result column="jg" property="jg" jdbcType="DOUBLE" />
    <result column="yxl" property="yxl" jdbcType="DOUBLE" />
    <result column="srbl" property="srbl" jdbcType="DOUBLE" />
    <result column="yj" property="yj" jdbcType="DOUBLE" />
    <result column="ptlx" property="ptlx" jdbcType="VARCHAR" />
    <result column="yhq_sl" property="yhqSl" jdbcType="INTEGER" />
    <result column="yhq_sy" property="yhqSy" jdbcType="INTEGER" />
    <result column="yhq_me" property="yhqMe" jdbcType="VARCHAR" />
    <result column="yhq_je" property="yhqJe" jdbcType="DOUBLE" />
    <result column="yhq_sksj" property="yhqSksj" jdbcType="DATE" />
    <result column="yhq_jssj" property="yhqJssj" jdbcType="DATE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, mc, lm, zt, jg, yxl, srbl, yj, ptlx, yhq_sl, yhq_sy, yhq_me, yhq_je, yhq_sksj, 
    yhq_jssj
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="x.superman.pojo.generator.TbkCommoditySettleExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from e_tbk_commodity_settle
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from e_tbk_commodity_settle
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from e_tbk_commodity_settle
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="x.superman.pojo.generator.TbkCommoditySettle" >
    insert into e_tbk_commodity_settle (id, mc, lm, zt, 
      jg, yxl, srbl, yj, 
      ptlx, yhq_sl, yhq_sy, 
      yhq_me, yhq_je, yhq_sksj, 
      yhq_jssj)
    values (#{id,jdbcType=VARCHAR}, #{mc,jdbcType=VARCHAR}, #{lm,jdbcType=VARCHAR}, #{zt,jdbcType=VARCHAR}, 
      #{jg,jdbcType=DOUBLE}, #{yxl,jdbcType=DOUBLE}, #{srbl,jdbcType=DOUBLE}, #{yj,jdbcType=DOUBLE}, 
      #{ptlx,jdbcType=VARCHAR}, #{yhqSl,jdbcType=INTEGER}, #{yhqSy,jdbcType=INTEGER}, 
      #{yhqMe,jdbcType=VARCHAR}, #{yhqJe,jdbcType=DOUBLE}, #{yhqSksj,jdbcType=DATE}, 
      #{yhqJssj,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="x.superman.pojo.generator.TbkCommoditySettle" >
    insert into e_tbk_commodity_settle
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="mc != null" >
        mc,
      </if>
      <if test="lm != null" >
        lm,
      </if>
      <if test="zt != null" >
        zt,
      </if>
      <if test="jg != null" >
        jg,
      </if>
      <if test="yxl != null" >
        yxl,
      </if>
      <if test="srbl != null" >
        srbl,
      </if>
      <if test="yj != null" >
        yj,
      </if>
      <if test="ptlx != null" >
        ptlx,
      </if>
      <if test="yhqSl != null" >
        yhq_sl,
      </if>
      <if test="yhqSy != null" >
        yhq_sy,
      </if>
      <if test="yhqMe != null" >
        yhq_me,
      </if>
      <if test="yhqJe != null" >
        yhq_je,
      </if>
      <if test="yhqSksj != null" >
        yhq_sksj,
      </if>
      <if test="yhqJssj != null" >
        yhq_jssj,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="mc != null" >
        #{mc,jdbcType=VARCHAR},
      </if>
      <if test="lm != null" >
        #{lm,jdbcType=VARCHAR},
      </if>
      <if test="zt != null" >
        #{zt,jdbcType=VARCHAR},
      </if>
      <if test="jg != null" >
        #{jg,jdbcType=DOUBLE},
      </if>
      <if test="yxl != null" >
        #{yxl,jdbcType=DOUBLE},
      </if>
      <if test="srbl != null" >
        #{srbl,jdbcType=DOUBLE},
      </if>
      <if test="yj != null" >
        #{yj,jdbcType=DOUBLE},
      </if>
      <if test="ptlx != null" >
        #{ptlx,jdbcType=VARCHAR},
      </if>
      <if test="yhqSl != null" >
        #{yhqSl,jdbcType=INTEGER},
      </if>
      <if test="yhqSy != null" >
        #{yhqSy,jdbcType=INTEGER},
      </if>
      <if test="yhqMe != null" >
        #{yhqMe,jdbcType=VARCHAR},
      </if>
      <if test="yhqJe != null" >
        #{yhqJe,jdbcType=DOUBLE},
      </if>
      <if test="yhqSksj != null" >
        #{yhqSksj,jdbcType=DATE},
      </if>
      <if test="yhqJssj != null" >
        #{yhqJssj,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="x.superman.pojo.generator.TbkCommoditySettle" >
    update e_tbk_commodity_settle
    <set >
      <if test="mc != null" >
        mc = #{mc,jdbcType=VARCHAR},
      </if>
      <if test="lm != null" >
        lm = #{lm,jdbcType=VARCHAR},
      </if>
      <if test="zt != null" >
        zt = #{zt,jdbcType=VARCHAR},
      </if>
      <if test="jg != null" >
        jg = #{jg,jdbcType=DOUBLE},
      </if>
      <if test="yxl != null" >
        yxl = #{yxl,jdbcType=DOUBLE},
      </if>
      <if test="srbl != null" >
        srbl = #{srbl,jdbcType=DOUBLE},
      </if>
      <if test="yj != null" >
        yj = #{yj,jdbcType=DOUBLE},
      </if>
      <if test="ptlx != null" >
        ptlx = #{ptlx,jdbcType=VARCHAR},
      </if>
      <if test="yhqSl != null" >
        yhq_sl = #{yhqSl,jdbcType=INTEGER},
      </if>
      <if test="yhqSy != null" >
        yhq_sy = #{yhqSy,jdbcType=INTEGER},
      </if>
      <if test="yhqMe != null" >
        yhq_me = #{yhqMe,jdbcType=VARCHAR},
      </if>
      <if test="yhqJe != null" >
        yhq_je = #{yhqJe,jdbcType=DOUBLE},
      </if>
      <if test="yhqSksj != null" >
        yhq_sksj = #{yhqSksj,jdbcType=DATE},
      </if>
      <if test="yhqJssj != null" >
        yhq_jssj = #{yhqJssj,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="x.superman.pojo.generator.TbkCommoditySettle" >
    update e_tbk_commodity_settle
    set mc = #{mc,jdbcType=VARCHAR},
      lm = #{lm,jdbcType=VARCHAR},
      zt = #{zt,jdbcType=VARCHAR},
      jg = #{jg,jdbcType=DOUBLE},
      yxl = #{yxl,jdbcType=DOUBLE},
      srbl = #{srbl,jdbcType=DOUBLE},
      yj = #{yj,jdbcType=DOUBLE},
      ptlx = #{ptlx,jdbcType=VARCHAR},
      yhq_sl = #{yhqSl,jdbcType=INTEGER},
      yhq_sy = #{yhqSy,jdbcType=INTEGER},
      yhq_me = #{yhqMe,jdbcType=VARCHAR},
      yhq_je = #{yhqJe,jdbcType=DOUBLE},
      yhq_sksj = #{yhqSksj,jdbcType=DATE},
      yhq_jssj = #{yhqJssj,jdbcType=DATE}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>